@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-family:'Roboto', sans-serif;
    font: 18px;
    background-size:auto;
    background-image:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fe4e9d19-76cb-4c24-889d-0bc0f1c7ca1f/d4pbpfb-f9a555f0-57e3-4675-b1c7-72321dd46aea.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi9mZTRlOWQxOS03NmNiLTRjMjQtODg5ZC0wYmMwZjFjN2NhMWYvZDRwYnBmYi1mOWE1NTVmMC01N2UzLTQ2NzUtYjFjNy03MjMyMWRkNDZhZWEuanBnIn1dXX0.clfjX1vJX0VBIjLkfQsElQGVMLOjF7Lcrlgu88ZK748);
    background-size:auto;
}

.soccer{
    color: black;
    font:18px;
    border:black 2px solid ;
    width:490px;
    height:auto;
    margin: 30px auto;
    padding-left: 10px;
    background-color: cornsilk;
    
}

h1{
    text-align: center;
    color:black;
    font-style: italic;
;
}

h2{
    font-style: oblique;
    color: black;
    text-align: center;
}





   
